html,
body {
  margin: 0;
  padding: 5;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

#map {
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

#map svg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#map svg circle,
.legend > div {
    --color-departures: steelblue;
    --color-arrivals: darkorange;
    --color: color-mix(
        in oklch,
        var(--color-departures) calc(100% * var(--departure-ratio)),
        var(--color-arrivals)
    );
}

#map svg circle {
    fill: var(--color);;
    fill-opacity: 60%;
    stroke: white;
    pointer-events: auto;
}

.legend {
    display: flex;
    margin-block: 1em;
    gap: 1px;
}

.legend > div {
    flex: 1;
    background: var(--color);
    padding: 0.75em 2em;
    text-align: center;
    color: white;
}

.legend > div:first-child {
  text-align: left;
}

.legend > div:last-child {
  text-align: right;
}